
<h1>ChildChecks</h1>

<h3>Today is <%= Time.now.strftime("%A, %m/%d/%Y") %></h3>

<p>
  <%= link_to 'Add a child', new_child_path %>
</p>

<ul class="unstyled">
  <% @children.each do |child| %>
  <li>
    <%= link_to "#{child.name}", child %>
  </li>
  <% end %>
</ul>
