<p>
  <strong>Child:</strong>
  <%= "#{@child.name}" %>
</p>

<p>
  <strong>Checkpoint:</strong>
  <%= "#{@checkpoint.checkpoint}" %>
</p>





<br>

<div>
  <%= link_to 'Back', children_path %>
</div>
